<h1><%= @heroine.name %></h1>

<p>Super Name: <%= @heroine.super_name %></p>

# <ul>
# <% @heroine.powers.each do |power| %>
# <li>Super Powers: <%= power.name %></li>
# <% end %>
# </ul> ---tried to do this right before submission and not working yet
<%= link_to "Back", heroines_path %>